

<div class="container">
  <%= link_to new_movie_path do %><button class="btn btn-success"> Add Movie </button> <% end %>

      <div class="cards">
        <% @movies.each do |movie| %>
          <%= link_to movie_path(movie) do  %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url%>)">

            </div>
          <% end %>
        <% end %>
      </div>

</div>
